{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": [
		"plugin:vue/recommended",
		"plugin:prettier/recommended",
		"eslint:recommended",
		"prettier/@typescript-eslint",
		"prettier/vue"
	],
	"plugins": [
		"vue",
		"@typescript-eslint"
	],
	"rules": {
		"no-mixed-spaces-and-tabs": 0,
		"vue/require-default-prop": "off",
		"no-unused-vars": "off",
		"no-console": ["error", {
			"allow": ["warn", "error"]
		}]
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	}
}
