{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:vue/recommended",
		"plugin:prettier/recommended",
		"prettier/@typescript-eslint",
		"prettier/vue"
	],
	"plugins": [
		"vue",
		"@typescript-eslint"
	],
	"rules": {
		"space-before-function-parent": 0,
		"indent": [2,"tab"],
		"no-tabs": "off",
		"vue/require-default-prop": "off",
		"object-curly-spacing": ["error", "always", {
			"arraysInObjects": false,
			"objectsInObjects": false
		}],
		"semi": ["error", "always"],
		"no-console": ["error", {
			"allow": ["warn", "error"]
		}]
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	}
}
