@font-face {
    font-family: 'ArBerkley';
    src: url('/vue-advanced-cropper/fonts/ARBERKLEY.woff2') format('woff2'),
        url('/vue-advanced-cropper/fonts/ARBERKLEY.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
