.navbar
	background-color: #3fb37f;
	background-image: url('/vue-advanced-cropper/background.png');
	background-size: cover;
	color: white;
	display: flex;
	align-items center;
	padding: 0.7rem 1.5rem !important;
	.icon.outbound {
		display: none !important;
	}
	.sidebar-button
		position: relative
		top 0
		left 0
		padding-left 0
		padding-right 32px
		padding-top 0
		padding-bottom 0

	.site-name
		color: white !important;
		font-family: 'ArBerkley' !important;
		font-weight: normal !important;
		font-size: 1.8rem !important;
		padding-left 8px
	.links
		background: none !important;
		position: relative !important;
		margin-left: auto;
		top: 0 !important
		right: 0 !important;
.nav-item a
	border-bottom: none !important;
.nav-item
	margin-left: 20px !important;
.navbar
	.nav-link
		font-size 16px !important
		opacity: 0.7;
		color: white !important

	.nav-links a.router-link-active
		opacity: 1



@font-face {
    font-family: 'ArBerkley';
    src: url('/fonts/ARBERKLEY.woff2') format('woff2'),
        url('/fonts/ARBERKLEY.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

